*{box-sizing: border-box;}html,body,#app{width: 100%;height: 100%;}

.ns_grid_template {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:"header header header header header header"
                        "main main main main main aside"
                        "footer footer footer footer footer footer";
    width: 100vw;
    height: 100vh;
}

header {grid-area: header}
main {grid-area: main}
aside {grid-area: aside}
footer {grid-area: footer}

.ponchik {
    background-color: rgb(190 18 60)!important;
    color: white!important;
}

.ponchik:hover {
    background-color: rgb(251 113 133)!important;
   
}